.text {
    padding-top: 12px;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.share {
    padding: 20px;
}

.share-icon {
    height: 32px;
    cursor: pointer;
}

img {
    box-shadow: 10px 5px  #ffe;
    margin-top: 0.5rem;
}

p {
    margin-top: 0.5rem;
}


