* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem 0;
}

.column {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.verticalBorder {
  border: 0;
  border-top: 0.2rem;
  border-color: rgb(167, 153, 153);
  border-style: solid;
}